.about {
  height: 30%;
  padding: 20px 40px 20px 60px;
  background-color: aquamarine;

  .top-area {
    height: 100px;
    display: flex;
  }
  .par {
    height: 100%;
    width: 50%;
  }

  .image {
    width: 50%;
  }
}
